:root {
    --font-family-heading: 'Ubuntu', sans-serif;
    --font-family-text: 'Roboto Flex', sans-serif;

    --bg-color: #F2FEEC;
    --primary-color: #5AB134;
    --secondary-color: #BCF4CA;
    --accent-color: #2DDA8F;
    --text-color: #0A1801;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--bg-color);
}

h1, h2, h3, h4 {
    font-family: var(--font-family-heading);
}

p {
    font-family: var(--font-family-text);
}