.navbar-toggler {
  display: none;
  padding: 4px 8px;
}
.bg-menu{
  background-color: var(--text-color);
  border-bottom: 2px solid var(--bg-color);
}
.bg-menu a{
  color: var(--bg-color) !important;
  font-weight: 600;
}
.btn{
  color: var(--text-color) !important;
}
.container-fluid{
  max-width: 1200px;
}
.navbar-toggler-icon{
  color:black !important;
}

.bg-off-canvas{
  background-color: var(--text-color) !important;
}


@media(max-width: 500px) {
  header .link-header {
    display: none;
  }

  .navbar-toggler {
    display: block;
  }
}